body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: linear-gradient(to right, white, lightgreen, lightblue);
}

input {
    margin-right: 1.8vw;
}

input, select {
    border: none;
    width: 20vw;
    border-bottom: 1vh solid blue;
    padding: 2% 4%;
    transition: 5s;
}

button {
    border: 0;
    padding: 1%;
    margin: 1%;
}

/* just for reference, replace later */
.head_title {
    text-align: center;
    text-emphasis: strong;
}

.head_subtitle {
    text-align: center;
}
